#htaccess file

AddDefaultCharset UTF-8

<filesMatch "\.(js|css)$">
FileETag None
<ifModule mod_headers.c>
Header unset ETag
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</ifModule>
</filesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    #Checks to see if the user is attempting to access a valid file,
    #such as an image or css document, if this isn't true it sends the
    #request to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)(/|$)
    RewriteRule ^(.*)$ /index.php?page=$1



    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    #RewriteRule ^(.*)$ /index.php?page=$1 [L]

	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)(/$|$) /index.php?page=$1 [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/downloads(/$|$) /index.php?page=$1/downloads [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/downloads/windows(/|$) /index.php?page=$1/downloads/windows [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction(/$|$) /index.php?page=$1/introduction [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung(/$|$) /index.php?page=$1/einfuehrung [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction/windows7-xp(/$|$) /index.php?page=$1/introduction/windows7-xp [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung/windows7-xp(/$|$) /index.php?page=$1/einfuehrung/windows7-xp [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction/fax-mac(/$|$) /index.php?page=$1/introduction/fax-mac [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung/fax-mac(/$|$) /index.php?page=$1/einfuehrung/fax-mac [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction/mobile(/$|$) /index.php?page=$1/introduction/mobile [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung/mobile(/$|$) /index.php?page=$1/einfuehrung/mobile [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction/online-fax(/$|$) /index.php?page=$1/introduction/online-fax [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung/online-fax(/$|$) /index.php?page=$1/einfuehrung/online-fax [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/introduction/fax-number(/$|$) /index.php?page=$1/introduction/fax-number [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/einfuehrung/faxnummer(/$|$) /index.php?page=$1/einfuehrung/faxnummer [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/rates(/$|$) /index.php?page=$1/rates [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/kosten(/$|$) /index.php?page=$1/kosten [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/rates/credit-packs(/$|$) /index.php?page=$1/rates/credit-packs [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/kosten/guthabenpakete(/$|$) /index.php?page=$1/kosten/guthabenpakete [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/rates/feature-details(/$|$) /index.php?page=$1/rates/feature-details [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/kosten/funktions-details(/$|$) /index.php?page=$1/kosten/funktions-details [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/rates/costs(/$|$) /index.php?page=$1/rates/costs [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/kosten/gebuehren(/$|$) /index.php?page=$1/kosten/gebuehren [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/rates/cost-calculator(/$|$) /index.php?page=$1/rates/cost-calculator [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/kosten/kostenrechner(/$|$) /index.php?page=$1/kosten/kostenrechner [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/extensions(/$|$) /index.php?page=$1/extensions [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/erweiterungen(/$|$) /index.php?page=$1/erweiterungen [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/extensions/facebook(/$|$) /index.php?page=$1/extensions/facebook [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/erweiterungen/facebook(/$|$) /index.php?page=$1/erweiterungen/facebook [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/extensions/salesforce(/$|$) /index.php?page=$1/extensions/salesforce [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/erweiterungen/salesforce(/$|$) /index.php?page=$1/erweiterungen/salesforce [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/extensions/business-fax(/$|$) /index.php?page=$1/extensions/business-fax [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/erweiterungen/business-fax(/$|$) /index.php?page=$1/erweiterungen/business-fax [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/introduction(/$|$) /index.php?page=$1/developers/introduction [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/how-to-use-the-api(/$|$) /index.php?page=$1/developers/how-to-use-the-api [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/samples(/$|$) /index.php?page=$1/developers/samples [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/references(/$|$) /index.php?page=$1/developers/references [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/signup(/$|$) /index.php?page=$1/developers/signup [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/policy(/$|$) /index.php?page=$1/policy [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/datenschutz(/$|$) /index.php?page=$1/datenschutz [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/terms-of-use(/$|$) /index.php?page=$1/terms-of-use [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/nutzungsbedingungen(/$|$) /index.php?page=$1/nutzungsbedingungen [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/developers/terms(/$|$) /index.php?page=$1/developers/terms [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/imprint(/$|$) /index.php?page=$1/imprint [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/impressum(/$|$) /index.php?page=$1/impressum [L]
	RewriteRule ^(de|en|es|fr|it|ja|pl|ru|sv|zh-hans|zh-hant|zh-Hans|zh-Hant)/signup(/$|$) /index.php?page=$1/signup [L]

</IfModule>

IndexIgnore /assets/*
IndexIgnore /cache/*
IndexIgnore /configs/*
IndexIgnore /libs/*
IndexIgnore /templates/*
IndexIgnore /templates_c/*