@charset "utf-8";
@import url("font-awesome.css");
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('//fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTeXREeHhJi4GEUJI9ob_ak4.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('//fonts.gstatic.com/s/opensans/v13/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('//fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSuXREeHhJi4GEUJI9ob_ak4.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('//fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzOXREeHhJi4GEUJI9ob_ak4.woff2') format('woff2');
}
mark{
  background: none;
  padding: 0;
  position: relative;
  top: 1px;
}
a:focus, a:active{
  outline: none;
}
html {
  height: 100%;
}
body{
  height: auto;
  min-height: 100%;
  padding-bottom: 370px;
  position: relative;
}
button,
button .btn{
  background: rgba(166, 29, 187, 1);
}
/* =====================================================================================================================================
                     - HEADER -
======================================================================================================================================== */                  
header{
  height: 144px;
  background: rgba(166, 29, 187, 0.8);  
  font-family: 'Open Sans', Arial;
  line-height: 1;
  display: block;
}
header::before{
  background: #4b4254;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 55px;
  content: "";
}
.btn-view-nav{
  display: none;
}
header [class*="col-"]{
  padding: 0;
}
header mark{
  font-size: 18px;
  background: none;
}
header .container{
  position: relative;
}
.logo {
    background: url("../images/logo.png") no-repeat scroll 0 0;
    height: 147px;
    left: 0;
    position: absolute;
    top: 15px;
    width: 348px;
    z-index: 200;
}
.header-person-welcome{
  position: absolute;
  top: 18px;
  left: 180px;
  max-width: 400px;
  color: #fff;
  font-size: 18px;
  z-index: 300;
}
.header-person-welcome a{
  color: #fff;
  border-bottom: 1px dashed #fff;
  text-decoration: none;
  line-height: 1;
}
.header-person-welcome a:hover{
  text-decoration: none;
  border-bottom: none;
}
.header-person-welcome a:focus{
  text-decoration: none;
}
.header-person-welcome .glyphicon{
  font-size: 13px;
  top: 0;
}
.header-top-info{
  padding-top: 9px;
  font-size: 16px;
  color: #978ca4;
  text-align: right;
  height: 55px;
}
.header-money{
  display: inline-block;
  width: 24px;
  height: 24px; 
  position: relative;
  padding-right: 1px;
  border-radius: 50%;
  color: #4b4254;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}
.header-money::after{
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  border-radius: 50%;
  border: 1px solid #4b4254;
}
.header-info-green .header-money{
  background: #9dd226;
}
.header-info-orange .header-money{
  background: #ff7200;
}
.header-info-red .header-money{
  background: #ff3f2d;
}
.header-info-green mark {
  color: #9dd226;
}
.header-info-orange mark {
  color: #ff7200;
}
.header-info-red mark {
  color: #ff3f2d;
}
.header-info-green .header-btn{
  background: #94c22d;
}
.header-info-orange .header-btn{
  background: #ff9b02;
}
.header-info-red .header-btn{
  background: #ff3f2d;
}
.header-btn{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin-left: 10px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  display: inline-block;
  text-decoration: none;
}
.header-btn:hover{
  background: #a61dbb;
  color: #fff;
  text-decoration: none;
}
header .navbar-nav{
  float: right;
}
nav{
  display: block;
}
header nav > ul > li{
  text-align: center;
  border-right:1px solid rgba(255, 255, 255, 0.3);
  height: 89px;
}
header nav > ul > li:hover,
header nav > ul > li.active{
  background: rgba(255, 255, 255, 0.2);
}
header .navbar-nav > li > a {
  line-height: 1;
  color: #fff;
  font-size: 14px;
  display: block;
  padding: 50px 20px 0;
  height: 100%;
}
header nav .navbar-nav.navbar-right:last-child{
  margin-right: 0;
}
header nav > ul > li:first-child a{
  background: url('../images/bg-link-send-white.png') no-repeat center top 30px;
  padding: 50px 25px 0;
}
header nav > ul > li:first-child::before{
  background: #ff7200;
  position: absolute;
  top: 15px;
  left: 10px;
  right: 10px;
  bottom: 13px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  content: "";
}
header nav > ul > li:nth-child(2) > a{
  background: url('../images/bg-link-outbox.png') no-repeat center top 27px;
}
header nav > ul > li:nth-child(2) > a:hover,
header nav > ul > li.active:nth-child(2) > a{
  background-image: url('../images/bg-link-outbox-hover.png');
}


header nav > ul > li:nth-child(3) > a{
  background: url('../images/bg-link-inbox.png') no-repeat center top 27px;
}
header nav > ul > li:nth-child(3) > a:hover,
header nav > ul > li.active:nth-child(3) > a{
  background-image: url('../images/bg-link-inbox-hover.png');
}

header nav > ul > li:nth-child(4) > a{
  background: url('../images/bg-link-trash.png') no-repeat center top 22px;
}
header nav > ul > li:nth-child(4) > a:hover,
header nav > ul > li.active:nth-child(4) > a{
  background-image: url('../images/bg-link-trash-hover.png');
}

header nav > ul > li:nth-child(5) > a{
  background: url('../images/bg-link-settings.png') no-repeat center top 22px;
}
header nav > ul > li:nth-child(5) > a:hover,
header nav > ul > li.active:nth-child(5) > a{
  background-image: url('../images/bg-link-settings-hover.png');
}

header nav > ul > li:nth-child(6) > a{
  background: url('../images/bg-link-more.png') no-repeat center top 32px;
}
header nav > ul > li:nth-child(6) > a:hover,
header nav > ul > li.active:nth-child(6) > a{
  background-image: url('../images/bg-link-more-hover.png');
}
header a[data-toggle="dropdown"]{
  position: relative;
}
header a[data-toggle="dropdown"]::after {
  content: "";
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%,0) rotate(45deg); 
  -ms-transform: translate(-50%,0) rotate(45deg); 
  -webkit-transform: translate(-50%,0) rotate(45deg); 
  -o-transform: translate(-50%,0) rotate(45deg);
  transform: translate(-50%,0) rotate(45deg);
  bottom: 8px;
  width: 9px;
  height: 9px;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
}
header .box-number{
  position: absolute;
  top: 16px;
  right: 50%;
  -moz-transform: translate(27px,0); 
  -ms-transform: translate(27px,0); 
  -webkit-transform: translate(26px,0); 
  -o-transform: translate(27px,0); 
  transform: translate(27px,0);
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #000;
  font-size: 9px;
  font-weight: bold;
  font-family: Verdana, Arial;
  z-index: 2;
}
header .box-number::before{
  position: absolute;
  top: 4px;
  right: 4px;
  content: "";
  width: 17px;
  height: 17px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 1px 2px #333;
  z-index: -1;
}
header .box-number::after{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  content: "";
  width: 25px;
  height: 25px;
  z-index: -1;
}
header .box-number::after{
  background: url('../images/outbox-number.png') no-repeat top right;
  -webkit-animation: rotation-arrows 2s linear infinite;
  animation: rotation-arrows 5s linear infinite;
}
@-webkit-keyframes rotation-arrows {
  0% { transform: rotate(0); transform-origin: 50% 50%;}
  100% { -webkit-transform: rotate(-360deg); -webkit-transform-origin: 50% 50%;}
}
@keyframes rotation-arrows {
  0% { transform: rotate(0); transform-origin: 50% 50%;}
  100% { transform: rotate(-360deg); transform-origin: 50% 50%;}
}
.box-number-no-arrow.box-number::after{
  display: none;
}
.box-number.box-number-many-digits{
  font-size: 8px;
  letter-spacing: -1px;
  padding-top: 1px;
}





/*  ================================================================================================================================================== 
                       -  FOOTER  -
===================================================================================================================================================== */
footer{
  display: block;
  background: #4b4254;
  padding: 20px 0 0;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', Arial;

  position: absolute;
  width: 100%;
  bottom: 0;
  min-height: 350px;
}
.logo_in_footer{
  background: url('../images/logo-footer.png') no-repeat;
  width: 222px;
  height: 73px;
  display: block;
}
footer p{
  padding-top: 15px;
}
footer ul{
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
}
footer li{
  font-size: 17px;
  line-height: 1.6;
}
footer li a {
  color: #fff;  
  display: block;  
}
footer li.active a,
footer a:hover {
  color: #ff89e4;
  text-decoration: underline;
}
footer a:focus{
  color: #fff;
  text-decoration: none;
}
footer h5{
  font-weight: 700;
  font-size: 24px;
  margin: 14px 0;
}
.footer-socials a{
  background: #fff none repeat scroll 0 0;
  border-radius: 50%;
  display: inline-block;
  height: 38px;
  width: 38px;
  margin: 22px 7px 10px 0;
  text-align: center;
  padding-top: 8px;
}
.footer-socials a:hover {
    background: #d7a4e9 none repeat scroll 0 0;
}
.footer-socials i {
  color: #4b4254;
  font-size: 23px;
}
.copyright{
  padding-bottom: 5px;
  background: #9d05b4;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.copyright .row > div:last-child{
  text-align: right;
}
.copyright .row > div:last-child{
  padding: 0;
}
.copyright a{
  display: inline-block;
  padding: 15px 0 0 15px;
  color: #fff;
  text-decoration: underline;
}
.copyright a:hover{
  text-decoration: none;
}





/*  ================================================================================================================================================== 
                                MEDIA 
===================================================================================================================================================== */
/*******************************************************************************************
    - min-width: 992px    -
******************************************************************************************/
@media screen and (min-width: 992px) {
header .dropdown-menu{
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);
  font-size: 14px;
  min-width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  left: auto;
  z-index: 1000; 
  padding: 0;
}
header .navbar-nav > li > .dropdown-menu{
  margin-top: 1px;
}
header .dropdown-menu li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  text-align: left;
}
header .dropdown-menu li:last-child {
  border-bottom: none;
}
header  .dropdown-menu > li > a {
  color: #fff;
  display: block;
  padding: 10px 25px 10px 10px;
}
header  .dropdown-menu > li > a:hover,
header  .dropdown-menu > li > a:focus {
  color: #262626;
  background: #f5f5f5;
  text-decoration: none;
}

/* **********************************  */
}


/********************************************************************************************************
    - max-width: 1200px    -
*************************************************************************************************************/
@media screen and (max-width: 1200px) {
body {
  padding-bottom: 475px;
}
}


/********************************************************************************************************
    - max-width: 992px    -
*************************************************************************************************************/
@media screen and (max-width: 992px) {
.logo {
  left: 15px;
}
header .container{
  box-sizing: border-box;
  width: auto;
}
header .container .row{
  margin: 0 15px;
}
header nav {
  display: none;
}
.btn-view-nav{
  display: block;
}
header nav {
  width: 100%;
  position: absolute;
  top: 144px;
  left: 0;
  right: 0;
  background: rgba(89,82,98,0.9);
  z-index: 10;
}
header .navbar-nav {
  margin: 30px;
  float: none;
  width: 300px;
}
header .navbar-nav > li {
  border: none;
  display: block;
  float: none;
  font-size: 20px;
  height: auto;
  min-height: 41px;
  padding: 0;
  text-align: left;
}
header nav > ul > li:hover,
header nav > ul > li.active{
  background: none;
}
header nav > ul > li.active a,
header nav > ul > li a:hover{
  color: #fff;
}
header .navbar-nav > li a{
  font-size: 20px;
  color: #e7a3ec;
  display: inline-block;
}
header a[data-toggle="dropdown"]::after{
  border-color: #e7a3ec;
  left: auto;
  right: -30px;
  top: 12px;
}
header .navbar-nav > li > .dropdown-menu{
  margin: 10px 0;
}
header .navbar-nav > li a,
header .navbar-nav > li a:first-child{
  padding: 6px 10px 6px 40px;
}
header a span,
header nav > ul > li:first-child::before{
  display: none;
}

header nav > ul > li:first-child a{
  background: url('../images/bg-link-send-mobile.png') no-repeat left top 10px;
}
header nav > ul > li.active:first-child a,
header nav > ul > li:first-child a:hover{
  background: url('../images/bg-link-send-white.png') no-repeat left -7px top 10px;
  background-size: 40px;
}

header nav > ul > li:nth-child(2) > a{
  background: url('../images/bg-link-outbox-mobile.png') no-repeat left top 10px;
}
header nav > ul > li.active:nth-child(2) > a,
header nav > ul > li:nth-child(2) > a:hover{
  background: url('../images/bg-link-outbox-white.png') no-repeat left top 10px;
  background-size: 21px;
}

header nav > ul > li:nth-child(3) > a{
  background: url('../images/bg-link-inbox-mobile.png') no-repeat left top 10px;
}
header nav > ul > li.active:nth-child(3) > a,
header nav > ul > li:nth-child(3) > a:hover{
  background: url('../images/bg-link-inbox-white.png') no-repeat left top 10px;
  background-size: 20px;
}

header nav > ul > li:nth-child(4) > a{
  background: url('../images/bg-link-trash-mobile.png') no-repeat left 2px top 6px;
}
header nav > ul > li.active:nth-child(4) > a,
header nav > ul > li:nth-child(4) > a:hover{
  background: url('../images/bg-link-trash-white.png') no-repeat left 2px top 6px;
  background-size: 18px;
}

header nav > ul > li:nth-child(5) > a{
  background: url('../images/bg-link-settings-mobile.png') no-repeat left 2px top 8px;
}
header nav > ul > li.active:nth-child(5) > a,
header nav > ul > li:nth-child(5) > a:hover{
  background: url('../images/bg-link-settings-white.png') no-repeat left 2px top 8px;
  background-size: 20px;
}

header nav > ul > li:nth-child(6) > a{
  background: url('../images/bg-link-more-mobile.png') no-repeat left top 14px;
}
header nav > ul > li.active:nth-child(6) > a,
header nav > ul > li:nth-child(6) > a:hover{
  background: url('../images/bg-link-more-white.png') no-repeat left top 14px;
  background-size: 26px;
}
header nav > ul > li.active a[data-toggle="dropdown"]::after{
  border-color: #fff;
}
header .dropdown-menu {
    background-color: transparent;
    border: medium none;
    box-shadow: none;
    float: none;
    position: relative;
}
header .navbar-nav .dropdown-menu a,
header .navbar-nav .dropdown-menu a, header .navbar-nav .dropdown-menu a:first-child{
  font-size: 15px;
  padding-left: 50px;
}
header li.active.open > a[data-toggle="dropdown"]::after{
  -moz-transform: rotate(225deg); 
  -ms-transform: rotate(225deg); 
  -webkit-transform: rotate(225deg); 
  -o-transform: rotate(225deg);
  transform: rotate(225deg); 
  top: 14px; 
}

header .btn-view-nav {
    border: medium none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    position: absolute;
    right: 30px;
    top: 85px;
    width: 36px;
}
header .btn-view-nav::before, 
header .btn-view-nav::after {
    background: transparent none repeat scroll 0 0;
    border-color: #fff;
    border-style: solid;
    box-sizing: border-box;
    content: "";
    height: 14px;
    left: 0;
    position: absolute;
    width: 36px;
}
header .btn-view-nav::after {
    border-width: 4px 0 0;
    top: 21px;
}
header .btn-view-nav::before {
    border-width: 4px 0;
    top: 0;
}
header .btn-close-nav{
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
  border: none;
  z-index: 3000;

}
header .btn-close-nav::before,
header .btn-close-nav::after {
  background: none repeat scroll 0 0 #fff;
  border: 2px solid #453d4a;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  width: 17px;
  top: 11px;
  right: 4px;
}
header .btn-close-nav::before {
    transform: rotate(45deg);
}
header .btn-close-nav::after {
    transform: rotate(135deg);
}



/*************************************   -  footer   -    ****************************************************************************/
.copyright{
  position: relative;
}
.copyright .row > div:last-child{
  text-align: left;
}
.copyright a {
    padding: 7px 0 15px 15px;
}


/* **********************************  */
}

/***************************************************************************************************************************************
    - max-width: 768px    -
*****************************************************************************************************************************************/
@media screen and (max-width: 768px) {
body {
  padding-bottom: 0;
}
header{
  height: 115px;
  background: #9d05b4;
}
header .container {
  padding-left: 0;
  padding-right: 0;
}
header .container .row {
  margin: 0 0;
} 
header::before{
  display: none;
}
.logo{
  background: url('../images/logo-768.png') no-repeat center center;
  height: 52px;
  width: 52px;
  top: 3px;
}
header .btn-view-nav {
  top: 18px;
  right: 15px;
}
.header-person-welcome{
  left: 85px;
  top: 10px;
}
.header-person-welcome p{
  color: #eda0f9;
  font-size: 17px;
  margin-bottom: 5px;
}
.header-top-info {
  background: #fff none repeat scroll 0 0;
  padding: 10px 0;
  text-align: center;
  margin-top: 62px;
  width: 100%;
  color: #4b3f53;
  font-size: 14px;
  box-sizing: border-box;
  height: auto;
}
.header-btn {
    font-size: 14px;
    padding: 10px 20px;
}
header mark {
    color: #4b3f53;
    font-size: 17px;
}
header .row:nth-child(2){
  margin-top: 62px;
  height: 62px;
}
header nav {
  top: 117px;
}


/*************************************   -  footer   -    ****************************************************************************/
.logo_in_footer{
    background: url('../images/logo-footer-768.png') no-repeat;
    width: 134px;
    height: 106px;
    margin: 10px auto;
}
footer{
    position: relative;
}
footer > .container{
    text-align: center;
}
footer > .container:first-child{
    padding-bottom: 30px;
}
footer li {
    font-size: 14px;
}
footer h5 {
    font-size: 18px;
    margin: 8px 0;
}
.view_footermenu{
    background: none;
    border: 1px solid #918b98;
    padding: 7px 44px 0 0;
    font-size: 19px;
    color: #fff;
    width: 288px;
    margin: 30px auto 0;
    height: 45px;
    text-decoration: none;
    position: relative;
}
.view_footermenu::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: #918b98;
}
.view_footermenu::before{
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #4d4054;
    content: "";
    display: inline-block;
    height: 7px;
    position: absolute;
    right: 12px;
    top: 18px;
    width: 11px;
    z-index: 20;
}
.footer-menu {
    border: 1px solid #918b98;
    overflow: hidden;
    width: 288px;
    margin: -1px auto 0;
    display: none;
}


/* **********************************  */
}



