.cc_banner-wrapper{z-index:9001;position:relative}
.cc_container .cc_btn{cursor:pointer;text-align:center;font-size:14px;transition:font-size 200ms;line-height:1em}
.cc_container .cc_message{font-size:14px;transition:font-size 200ms;margin:0;padding:0;line-height:1em}
.cc_container .cc_logo{display:none;text-indent:-1000px;overflow:hidden;width:100px;height:22px;background-size:cover;
  background-image:url(//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/logo.png);opacity:0.9;transition:opacity 200ms}
.cc_container .cc_logo:hover,.cc_container .cc_logo:active{opacity:1}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:14px}
.cc_container .cc_message{font-size:14px}}@media screen and (min-width: 768px){.cc_container .cc_btn{font-size:14px}
.cc_container .cc_message{font-size:14px;line-height:1em}}
@media screen and (min-width: 992px){.cc_container .cc_message{font-size:14px}}
@media print{.cc_banner-wrapper,.cc_container{display:none}}
.cc_container{position:fixed;left:0;right:0;bottom:0;overflow:hidden;}
/*.cc_container .cc_btn{padding:8px 10px;background-color:#fff;cursor:pointer;transition:font-size 200ms;text-align:center;font-size:14px;display:block;width:33%;
  margin-left:10px;float:right;max-width:120px}*/
.cc_container .cc_message{transition:font-size 200ms;font-size:14px;display:block}@media screen and (min-width: 500px){.cc_container .cc_btn{font-size:14px}
.cc_container .cc_message{margin-top:0.5em;font-size:14px}}
.cc_container .cc_message{font-size:14px}@media screen and (min-width: 992px){.cc_container .cc_message{font-size:14px;}}
.cc_container{background:#222;color:#fff;font-size:14px;font-family:"Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;box-sizing:border-box}
.cc_container ::-moz-selection{background:#ff5e99;color:#fff;text-shadow:none}
.cc_container .cc_btn,.cc_container .cc_btn:visited{transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;-webkit-transition:background 200ms ease-in-out,color 200ms ease-in-out,box-shadow 200ms ease-in-out;border-radius:5px!important;-webkit-border-radius:5px!important}
.cc_container .cc_btn:hover,.cc_container .cc_btn:active{background-color:#fff;color:#000}
.cc_container a,.cc_container a:visited{text-decoration:none;color:#fff;transition:200ms color}
.cc_container a:hover,.cc_container a:active{color:#000}@-webkit-keyframes slideUp{0%{-webkit-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes slideUp{0%{-webkit-transform:translateY(66px);-ms-transform:translateY(66px);transform:translateY(66px)}100%{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}}
.cc_container,.cc_message,.cc_btn, .cc_more_info{animation-duration:0.8s;-webkit-animation-duration:0.8s;-moz-animation-duration:0.8s;-o-animation-duration:0.8s;-webkit-animation-name:slideUp;animation-name:slideUp}

.cc_more_info{
    background-color: #7b8a8b;
    -webkit-border-radius: 5px!important;
            border-radius: 5px!important;
    padding: 5px 10px;
    text-align: center;
    font-size:14px;
    line-height: 1em;
    z-index: 20000;
    float: right;
    margin:10px;
}
.cc_more_info:hover{
    background-color: #FFF;
}

.cc_container {
    overflow: visible;
}
.cc_container .cc_message,
.cc_container .cc_btn,
.cc_container a, .cc_container a:hover, .cc_container a:active {
    line-height: 1em;
}
.cc_container .cc-txt-hide{
    display: none;
    box-sizing: border-box;
    background-color: #333B45;
    padding: 12px 150px 12px 30px;
    font-size: 14px;
}
.cc_container .cc-txt-hide p{
    max-width: 1200px;
}
.cc_container .cc-txt-hide span{
    display: block;
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    width: 10px;
    height: 10px;
    cursor: pointer;
    font-size: 20px;
}


.cc_banner.cc_container.cc_container--open p{
    margin: 0;
    padding: 0;
    color:#fff!important;
}
.cc_container .cc_message{ 
    line-height: 1.4;
    color:#fff!important;
}
.cc_container p.cc_txt,
.cc_banner.cc_container.cc_container--open p.cc_message.cc_txt{
    padding: 12px 150px 12px 30px!important;
    color:#fff!important;
}
.cc_ok{cursor:pointer;text-align:center;font-size:14px;transition:font-size 200ms;line-height:1em}
.cc_ok{
    color: #fff;
    background-color: #3B89C7;  
    padding: 5px;
    text-align: center;
    z-index: 10000;
    padding: 5px 10px;
    float: right;
    margin: 10px 10px 10px 0;
}
.cc-txt-hide + .cc_message,
.cc-txt-hide + .cc_txt{
    padding: 10px!important;
    float: left; 
}